.navBar{
    background-color: #16213E;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.title{
    color: white;
    font-size: 3rem;
    font-weight: 600;
}

.searchContainer{
    width: 30%;
    /* border: 2px solid white; */
}

@media screen and (max-width: 1000px){
    .navBar{
        padding: 1rem;
        height: 10vh;
        justify-content: space-between;
    }
    .title{
        font-size: 1.5rem;
    }

    .searchContainer{
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .navBar{
        padding: 1rem;
        height: 10vh;
        justify-content: space-between;
    }
    .title{
        font-size: 1.1rem;
    }

    .searchContainer{
        width: 50%;
        border: 2px solid white;
    }
}